# Python cache
__pycache__/
*.pyc
*.pyo

# virual environment
.venv/
env/
venv/

# .env
.env

# logs, temp, cache
cache/
*.log
*.csv
*.jsonl

# Сгенерированные билеты
src/bot/tickets/tickets/*

# Системные файлы macOS
.DS_Store

# IDEA project files (если используешь PyCharm)
.idea/
