# --- Основные зависимости фреймворка и бота ---
aiogram==3.13.1
python-dotenv==1.0.1
PyYAML==6.0.2
pydantic~=2.9.2

# --- База данных ---
asyncpg~=0.30.0
psycopg2-binary~=2.9.10

# --- Генерация билетов (QR-коды и изображения) ---
qrcode~=8.2
pillow~=11.3.0

# --- Тестирование ---
pytest==8.3.2